body {
    font-family: 'Roboto', sans-serif;
}

.pt-12 {
    padding-top: 12.5rem!important;
}

.mt-5 {
    margin-top: 5rem!important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}